img {
    height: 100%;
}

.welcome-container {
    text-align: center;
    padding-top: 70px;
    margin-bottom: 35px;
}

.welcome-text{
    font-size: 52px;
    margin: 0;
    margin-bottom: -2px;
}

#user-text {
    color: #388a4b;
}

.great-day-text {
    margin: 0;
    font-size: 20px;
    font-style: italic;
    color: grey;
}

/* Schedule */
.schedule-section-container {
    position: relative;
    height: 730px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.schedule-box {
    height: 500px;
    width: 95%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.schedule-text {
    font-size: 42px;
    margin: 0;
    margin-top: 20px;
}

.schedule-container {
    position: absolute;
    background-color: rgb(51, 51, 51);
    height: 625px;
    width: 1070px;
    bottom: 10px;
}

.health-condition-section-container {
    margin: 0 auto;
    display: flex;
    width: 85%;
    border-radius: 15px;
    background-color: #B2D8BA;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    letter-spacing: 2px;
    position: relative;
}

.health-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background-color: #2D6F3C;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.health-text-container {
    margin-left: 20px;
}

.health-header {
    font-size: 47px;
    margin: 0;
    margin-bottom: 3px;
}

.health-desc {
    font-size: 16px;
    margin:0;
    color: #A2A2A2;
}

.health-kit-container {
    margin: 0 auto;
    margin-top: 35px;
    height: 160px;
}

.health-right {
    flex: 2;
    color: #373737;
    display: flex;
    flex-direction: column;
}

.welfare-check-text {
    height: 25px;
    font-size: 20px;
    margin: 20px 0 10px 20px;
}

.result-advice-container {
    margin-top: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.result-advice-container li +li {
    margin-top: 8px;
}

.result-container {
    flex: 1;
}

.advice-container {
    flex: 1;
}

.health-subheader {
    font-size: 27px;
    margin: 0 0 20px 20px;
}

.health-notebook-container {
    height: 450px;
    position: absolute;
    right: -80px;
    bottom: -50px;
}

.help-section-container {
    width: 97%;
    margin: 75px auto 20px auto;
    border-radius: 15px;
    padding: 50px 0;
    position: relative;
}

.need-help-text {
    position: absolute;
    top: -25px;
    left: 50px;
    font-size: 37px;
    color: #837A73;
    margin: 0;
}

.activities-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.activity-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activity-image-container, .activity-image {
    height: 200px;
    width: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.activity-image {
    object-fit: cover;
    object-position: top;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.desc-container {
    width: 300px;
    height: 100%;
    text-align: justify;
    background-color: white;
    padding: 20px 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.activity-text {
    font-size: 19px;
    margin: 0;
}

.activity-desc {
    margin: 0;
    margin-top: 10px;
    color: #696969;
}