*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
}


.container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

.input-text {
    position: relative;
    margin-bottom: 20px;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="email"]:focus {
    border-color: #0056b3;
    outline: none;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #004494;
}

.register {
    margin-top: 20px;
}

.register a {
    color: #0056b3;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}