body {
    margin: 0;
    background-color: #EEE09B;
}
.primary-color {
    background-color: #E0B138;
}

.primary-text {
    color: #E0B138;
}

.section-header {
    font-size: 30px;
    color: #F0EEE6;
}