<div class="navbar">
    <div class="left-nav">
        <div class="logo-container">
            <img class="logo" src="./Resources/Logo.png" alt="logo">
        </div>
    </div>
    <div class="right-nav">
        <a href="">Join Our Team</a>
        <a href="">Our Services</a>
        <a href="">Language</a>
        <div class="profile-container">
            <img class="profile-img" src="./Resources/profile-picture.png" alt="Profile">
        </div>
    </div>
</div>

<style>
.navbar {
    background-color: #E1A200;
    margin: 0;
    width: 100%;
    height: 73px;
    display: flex;
}

.left-nav {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.logo-container {
    width: 45px;
    height: 45px;
}

.logo {
    width: 100%;
    height: 100%;
}

.right-nav {
    display: flex;
    align-items: center;
    padding-right: 25px;
}

.right-nav a {
    font-size: 17px;
    margin-right: 35px;
    text-decoration: none;
    color: #f7f4ea;
}

.right-nav a:hover {
    cursor: pointer;
    color: #d9d6cd;
}

.profile-container {
    width: 45px;
    height: 45px;
}

.profile-img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
</style>