<table>
    <tr>
        <th></th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
    </tr>
    <tr>
        <td class="time">07:00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="time">08:00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="time">09:00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="time">10:00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="blood">Blood Check</td>
    </tr>
    <tr>
        <td class="time">11:00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="time">12:00</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="visit">Requestor Visit</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="time">13:00</td>
        <td></td>
        <td></td>
        <td class="doctor">Doctor's Appointment</td>
        <td class="visit"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="time">14:00</td>
        <td></td>
        <td></td>
        <td class="doctor"></td>
        <td></td>
        <td></td>
        <td class="visit">Requestor Visit</td>
        <td></td>
    </tr>
    <tr>
        <td class="time">15:00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="visit"></td>
        <td></td>
    </tr>
    <tr>
        <td class="time">16:00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td class="time">17:00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>


<style>
table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 5px;
}

td, th{
    border: 1px solid #555555;
}

th {
    padding: 10px 20px;
    background-color: #444444;
    color: white;
    text-align: left;
    /* width: 140px; */
}

td {
    font-size: 13px;
    padding: 5px 0 35px 5px;
    background-color: #333333;
    color: #f5f5f5;
}

td.time {
    width: 50px;
    white-space: nowrap;
    color: #eaeaea;
}

.time {
    background-color: #4B414D;
}

.visit {
    color: #d9d9d9;
    background-color: #5b6774;
    border-top: none;
    border-bottom: none;
}

.doctor {
    color: rgb(77, 77, 77);
    background-color: #b0c9b1;
    border-top: none;
    border-bottom: none;
}

.blood {
    color: rgb(77, 77, 77);
    background-color: #ffd8a6;
    border-top: none;
    border-bottom: none;
}
</style>